* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 80vw;
}

button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.6em;
    margin: auto;
    padding: 15px 20px;
    background-color: transparent;
    border: 5px double #000000;
    margin-bottom: 2vh;
    margin-top: 2vh;

}

button:hover {
    background-color: #000;
    color: #ffffff;
    border: #ffffff 5px double;
}


.square {
    display: inline-block;
    text-align: center;
    line-height: 5vh;
    width: 5vh;
    height: 5vh;
    margin: 5px;
    background-color: #000;
    color: #ffffff;

}

.circle {
    display: inline-block;
    text-align: center;
    line-height: 5vh;
    width: 5vh;
    height: 5vh;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;

}

ul {
    text-align: center;
    list-style: none;
}